{
    "User": {
        "Client": {
            "PlayScreen": {
                "GameFamily": {
                    "WoW": {
                        "CustomTabOrder": "4",
                        "RegionSwitchWarningDismissed": "",
                        "LastSelectedGameRegion": "",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": ""
                    },
                    "D3": {
                        "CustomTabOrder": "3",
                        "RegionSwitchWarningDismissed": "",
                        "LastSelectedGameRegion": "",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": ""
                    },
                    "S2": {
                        "CustomTabOrder": "5",
                        "RegionSwitchWarningDismissed": "",
                        "LastSelectedGameRegion": "",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": ""
                    },
                    "WTCG": {
                        "CustomTabOrder": "6",
                        "RegionSwitchWarningDismissed": "",
                        "LastSelectedGameRegion": "",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": ""
                    },
                    "Hero": {
                        "CustomTabOrder": "2",
                        "RegionSwitchWarningDismissed": "",
                        "LastSelectedGameRegion": "",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": ""
                    },
                    "Pro": {
                        "CustomTabOrder": "1",
                        "ShowRedeemCodeReminder": "",
                        "RegionSwitchWarningDismissed": "",
                        "LastSelectedGameRegion": "US",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": "retail"
                    },
                    "D3CN": {
                        "LastSelectedGameRegion": "",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": ""
                    },
                    "S1": {
                        "LastSelectedGameRegion": "US",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": "retail",
                        "CustomTabOrder": "7",
                        "RegionSwitchWarningDismissed": ""
                    },
                    "DST2": {
                        "LastSelectedGameRegion": "US",
                        "LastSelectedGameAccount": "",
                        "LastSelectedGameType": "retail",
                        "CustomTabOrder": "1",
                        "RegionSwitchWarningDismissed": ""
                    }
                },
                "LastSelectedGame": "Pro",
                "TabsCollapsed": "true"
            },
            "Windows": {
                "MainWindow": {
                    "WindowSize": "@Size(1600 775)",
                    "WindowPosition": "@Point(174 162)"
                },
                "LoginWindow": {
                    "WindowPosition": "",
                    "WindowSize": ""
                },
                "FriendsWindow": {
                    "WindowPosition": "",
                    "WindowSize": ""
                },
                "ChatWindow": {
                    "WindowPosition": "@Point(760 405)",
                    "WindowSize": "@Size(400 555)"
                }
            },
            "HideOnClose": "false",
            "DisplayExitPrompt": "false",
            "WindowNotificationShown": "true",
            "ChatViewMode": "classic",
            "HideOfflineFriendsDuration": "43200",
            "Social": {
                "ActiveChatStream": ""
            }
        },
        "Games": {
            "prometheus": {
                "LastSeenPatchNotesBuild": "40407"
            },
            "hs_beta": {
                "LastSeenPatchNotesBuild": ""
            },
            "prometheus_test": {
                "LastSeenPatchNotesBuild": "40293"
            },
            "heroes": {
                "LastSeenPatchNotesBuild": "53548"
            },
            "destiny2_beta": {
                "LastSeenPatchNotesBuild": ""
            },
            "destiny2": {
                "LastSeenPatchNotesBuild": "3836000"
            },
            "destiny2_dummy": {
                "LastSeenPatchNotesBuild": ""
            }
        },
        "Notifications": {
            "VoicePushToTalk": {
                "Sound": "true",
                "Toasts": "false"
            },
            "VoiceMuteToggles": {
                "Sound": "true",
                "Toasts": "false"
            },
            "VoiceJoinLeaveOther": {
                "Sound": "true",
                "Toasts": "false"
            },
            "VoiceJoinLeave": {
                "Sound": "true",
                "Toasts": "false"
            },
            "ChannelMention": {
                "Sound": "false",
                "Toasts": "false"
            },
            "ChannelOutgoingMessage": {
                "Sound": "false",
                "Toasts": "false"
            },
            "ChannelIncomingMessageActive": {
                "Sound": "false",
                "Toasts": "false"
            },
            "ChannelIncomingMessage": {
                "Sound": "false",
                "Toasts": "false"
            },
            "ChannelInvite": {
                "Sound": "true",
                "Toasts": "false"
            },
            "WhisperOutgoingMessage": {
                "Sound": "false",
                "Toasts": "false"
            },
            "WhisperIncomingMessageActive": {
                "Sound": "false",
                "Toasts": "false"
            },
            "WhisperIncomingMessage": {
                "Sound": "true",
                "Toasts": "false"
            },
            "WhisperInitiated": {
                "Sound": "true",
                "Toasts": "true"
            },
            "FriendRequestAccept": {
                "Sound": "true",
                "Toasts": "true"
            },
            "FriendRequest": {
                "Sound": "true",
                "Toasts": "true"
            },
            "FriendEnterGame": {
                "Sound": "favorites_only",
                "Toasts": "favorites_only"
            },
            "FriendOffline": {
                "Sound": "false",
                "Toasts": "false"
            },
            "FriendOnline": {
                "Sound": "favorites_only",
                "Toasts": "favorites_only"
            },
            "GameRepairComplete": {
                "Sound": "false",
                "Toasts": "true"
            },
            "GameUpdateComplete": {
                "Sound": "false",
                "Toasts": "false"
            },
            "GamePlayable": {
                "Sound": "false",
                "Toasts": "true"
            },
            "GameUpdateStarted": {
                "Sound": "false",
                "Toasts": "true"
            },
            "GamePatchAvailable": {
                "Sound": "false",
                "Toasts": "true"
            },
            "FriendRequestSent": {
                "Sound": "false",
                "Toasts": "true"
            },
            "WhisperUnreadMessage": {
                "Sound": "true",
                "Toasts": "true"
            }
        }
    }
}
